<ion-view title="AccessOnly">
  <ion-header-bar>
     <h1 class="title"></h1>
  </ion-header-bar> 
  <ion-content>
   <div class="row" style=" background-color: black; ">
      <div class="col"></div>
      <div class="col col-75"><img src="/img/accessonly_logo-01.png" width="220px" align="center"></div>
      <div class="col"></div>
  </div>
    <form>
      <div class="list" style="background-color: black;">
      <p style=" color: white; padding-left: 8%; padding-bottom: -10px;" font-family:="avantgarde_bk_bt_demi">MEMBERS ONLY
      </p>
        <label class="item item-input">
          <span class="input-label">name</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">access code</span>
          <input type="text" ng-model="loginData.access_code">
        </label>
        <label class="item">
          <button ng-click="doLogin(loginData)" class="button button-block button-positive" type="submit">ENTER THE NIGHT</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>

