<ion-view title="Venue">
  <ion-content class="has-header">
    <h1>Customer Receipt for {{order_info.name}}</h1>
    <ion-list>

    	<p>Name: {{order_info.name}} </p>
    	</p>Email: {{order_info.email}} </p>
    	</p>Phone: {{order_info.phone}} </p>
      </p>Payment Sucessful in the amount of ${{order_info.amount}}</p>

      	

      	    <!-- SUBMIT BUTTON -->
		<button id="cc-submit" ng-click="submit()" type="submit" class="btn btn-success btn-lg btn-block">
			<span class="glyphicon glyphicon-flash"></span> Back to the Venues
		</button>

    </ion-list>
  </ion-content>
</ion-view>