<ion-view title="Venues">
  <ion-nav-buttons side="left" hide-back-button="true">
    <button menu-toggle="left" class="button-icon icon ion-navicon" style="color:#ffffff;"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" style="background-image: url('/img/fancy-pants.png'); background-repeat: repeat;">
    <ion-list>
      <ion-item ng-repeat="venue in venues" href="#/app/venues/{{venue.id}}" ng-click="submit()">
       <p>{{venue.name}} </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
